---
import Layout from '@layouts/Layout.astro';

const albums = await fetch('https://jsonplaceholder.typicode.com/albums/')
  .then((data) => data.json());
---

<Layout title="Photo Albums">
  <h1>All Photo Albums</h1>

  <p>Photo galleries from our wonderful contributing phatographers.</p>

  <ul>
    {albums.map((album: { id: number; title: string; userId: number}) => (
      <li>
        <a href={`/albums/${album.id}`}>{album.title}</a> - {album.id} - User Id: {album.userId}
      </li>
    ))}
  </ul>
</Layout>