---
import Layout from '@layouts/Layout.astro';

const users = await fetch('https://jsonplaceholder.typicode.com/users/')
  .then((data) => data.json());
---

<Layout title="Users">
  <h2>All Users</h2>

  <p>Here are all the cool people that contribute photos!</p>

  <ul>
    {users.map((user: { id: number; title: string; userId: number}) => (
      <li>
        <a href={`/users/${user.id}`}>{user.title}</a> - {user.id}
      </li>
    ))}
  </ul>
</Layout>